<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>


<ul>
    <!--repeat the <li></li> for each element in the list
    insert the value of that iterator variable in the text of that <li>
    <li th:each="entry : ${cheeses}" th:text="${entry.key}">Default Title</li>
    <li th:each="entry : ${cheeses}" th:text="${entry.value}">Default Description</li>
    -->
    <li th:each="entry : ${cheeses}" th:text="${entry.key + ': ' + entry.value}"></li>


</ul>

</body>
</html>

